* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10% auto;
  background: rgb(58, 56, 56);
  width: 50%;
  height: 400px;
}

.title-hero {
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
span {
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button {
  margin: 3rem;
  width: 5.8em;
  height: 2em;
  border-radius: 5px;
  background-color: rgba(31, 160, 199, 0.6);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  cursor: pointer;
}
